body {
	background-color: #dddddd;
	font-family: sans-serif;
	font-size: 12px;
}

textarea:focus, input:focus{
    outline: 0;
}

label {
	margin: 4px;
}

input {
	width: 95%;
	border: 1px solid #999999;
	padding: 5px;
	margin: 7px;
}

button {
	background-color: #e8e8e8;
	border: 1px solid #777777;
	color: black;
	width: 130px;
	margin: 10px;
	padding: 5px;
}

#buttonContainer {
	width: 100%;
	text-align: right;
}