@import "bootstrap.min.css";

#main {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

.well {
	text-align: left;
}

.revil-type {
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.revil-comment {
	font-size: 15px;
}

.revil-link {

}

.revil-date {
	float: right;
	font-size: 10px;
}

blockquote {
	background:#f9f9f9;
	border-left:10px solid #ccc;
	margin:1.5em 10px;
	padding:.5em 10px;
	quotes:"\201C""\201D""\2018""\2019";
	font-style: italic;
}
blockquote:before {
	color:#ccc;
	content:open-quote;
	font-size:4em;
	line-height:.1em;
	margin-right:.25em;
	vertical-align:-.4em;
}
blockquote p {
	display:inline;
}