@import "bootstrap.min.css";

body {
	background: #333;

	color: white;
}

a {
	color: black !important;
}

#main {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

.well {
	border-width: 0px 0px 0px 3px;
	text-align: left;
	color: #333;
	margin: 30px 0px 30px 0px;
}

.well.image-revil {
	border-color: #BF9330;
}

.well.page-revil {
	border-color: #3AA6D0;
}

.well.selection-revil {
	border-color: #BF4330;
}

.revil-type {
	margin-top: -19px;
	color: white;
	float: right;
	font-size: 14px;
	font-weight: normal;
	width: 80px;
	text-align: center;
}

.image-revil .revil-type {
	background: #BF9330;
}
.page-revil .revil-type {
	background: #3AA6D0;
}
.selection-revil .revil-type {
	background: #BF4330;
}


.revil-comment {
	font-size: 22px;
}

.revil-img {

}

.revil-link {
	margin: 10px 5px -8px 0px;
	font-size: 25px;
	text-align: center;
}

.revil-date {
	float: right;
	font-size: 11px;
}

blockquote {
	background:#f9f9f9;
	border-left:10px solid #ccc;
	margin: 10px 10px;
	padding: .5em 10px;
	quotes:"\201C""\201D""\2018""\2019";
	font-style: italic;
}
blockquote:before {
	color:#ccc;
	content:open-quote;
	font-size:4em;
	line-height:.1em;
	margin-right:.25em;
	vertical-align:-.4em;
}
blockquote p {
	display:inline;
	font-size: 17px;
}