@import "bootstrap.css";

#main {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

body {
	background-image: url(/resources/kindajean.png);
	background-repeat: repeat
}

.navbar-inner {
	border-radius: 0px;
}

.navbar-inner .container {
	width: 800px;
}

.well {
	border-width: 0px 0px 0px 0px;
	text-align: left;
	background-color: #FFF;
	border-radius: 0px;
}

.revil-title {
	font-size: 24px;
	font-weight: bold;
	float: left;
	padding-right: 10px;
}

a.revil-link {
	text-decoration: none;
}

.revil-url {
	font-size: 12px;
	cursor: default;
	color: #aaa;
}

.revil-note {
	font-size: 14px;
	padding-top: 5px;
	padding-left: 5px;
}

.revil-date {
	float: right;
	font-size: 11px;
}

.revil-selection {
	font-size: 22px;
}

.revil-btn-group {
	float: right;
}

a.dropdown-toggle {
	cursor: pointer;
}

blockquote {
	margin: 1.5em 1em;
	padding: .5em 1em;
	quotes: "\201C""\201D";
	font-style: italic;
}

blockquote:before {
	content:open-quote;
	font-size: 4em;
	line-height: .1em;
	margin-right: .25em;
	vertical-align: -.4em;
}

blockquote:first-child {
	display: inline;
}

blockquote:last-child {
	margin-bottom: 0;
}

.navbar-avatar {
	border-radius: 3px;
	margin: 0px 5px 0px;
}

#register {
	width: 450px;
}

img.user-avatar {
	border-radius: 3px;
}

.user-name {
	font-size: 24px;
	padding-top: 10px;
}