<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/revilr">revilr</a>
    <ul class="nav">
      <li><a href="page">Pages</a></li>
      <li class="active"><a href="image">Images</a></li>
      <li><a href="selection">Selections</a></li>
    </ul>
  </div>
</div>

<div id="main">

  <h1>Images</h1>

  {{#revils}}
  <div class="well">
    <p class="revil-comment">{{comment}}</p>

    <img class="revil-img" src="{{url}}"></img>

    <p class="revil-link"><a href="{{url}}">{{display-url}}</a></p>

    <p class="revil-date">{{date}}</p>
  </div>
  {{/revils}}

</div>