<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/revilr">revilr</a>
    <ul class="nav">
      <li><a href="revilr/page">Pages</a></li>
      <li><a href="revilr/image">Images</a></li>
      <li><a href="revilr/selection">Selections</a></li>
    </ul>
  </div>
</div>

<div id="main">

  <h1>All</h1>

  {{#revils}}
  <div class="well">
    <p class="revil-type">{{type}}</p>

    <p class="revil-comment">{{comment}}</p>

    <p class="revil-link"><a href="{{url}}">{{display-url}}</a></p>

    <p class="revil-date">{{date}}</p>
  </div>
  {{/revils}}

</div>