<!DOCTYPE html>
<html>
<head>
  <title>revilr index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="resources/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>


  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/revilr">revilr</a>
      <ul class="nav">
        <li><a href="revilr/link">Links</a></li>
        <li><a href="revilr/page">Pages</a></li>
        <li><a href="revilr/image">Images</a></li>
        <li><a href="revilr/selection">Selections</a></li>
      </ul>
    </div>
  </div>

  <h1>Minimalist link sharing. Today.</h1>
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="resources/bootstrap.min.js"></script>
</body>
</html>