<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/revilr">revilr</a>
    <ul class="nav">
      <li {{#page}}class="page active"{{/page}}> <a href="/revilr/page">Pages</a></li>
      <li {{#image}}class="image active"{{/image}}><a href="/revilr/image">Images</a></li>
      <li {{#selection}}class="selection active"{{/selection}}><a href="/revilr/selection">Selections</a></li>
      <li {{#login}}class="login active"{{/login}}><a href="/login">Login</a></li>
      <li {{#register}}class="register active"{{/register}}><a href="/register">Register</a></li>
      <li {{#logout}}class="logout active"{{/logout}}><a href="/logout">Logout</a></li>
    </ul>
  </div>
</div>