<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/resources/styles.css" rel="stylesheet" media="screen">
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/revilr">revilr</a>
      <ul class="nav">
        <li class="active"><a href="page">Pages</a></li>
        <li><a href="image">Images</a></li>
        <li><a href="selection">Selections</a></li>
      </ul>
    </div>
  </div>

  <div id="main">

    <h1>Pages</h1>

  {{#revils}}
  <div class="well">
    <p class="revil-comment">{{comment}}</p>

    <p class="revil-link"><a href="{{url}}">{{display-url}}</a></p>

    <p class="revil-date">{{date}}</p>
  </div>
  {{/revils}}

</div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/resources//bootstrap.min.js"></script>
</body>