<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../resources/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/revilr">revilr</a>
      <ul class="nav">
        <li><a href="link">Links</a></li>
        <li class="active"><a href="page">Pages</a></li>
        <li><a href="image">Images</a></li>
        <li><a href="selection">Selections</a></li>
      </ul>
    </div>
  </div>

  <h1>Pages</h1>

  {{range .}}
  <div class="well">
    <p>Link: <a href="{{.Url}}">{{.Url}}</a></p>

    <p>Comment: {{.Comment}}</p>
  </div>
  {{end}}

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="../resources//bootstrap.min.js"></script>
</body>