{{{navbar}}}

<div id="main">
  <form action="/user/register" method="POST" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input type="text" name="username" id="username" placeholder="Username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Retype password</label>
      <div class="controls">
        <input type="password" name="password" id="password" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign in</button>
      </div>
    </div>
  </form>
</div>