{{{navbar}}}
<script src="register.js"></script>

<div id="main">
  <form method="POST" action="/register" onsubmit="return validateForm()" name="register" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="username">Username</label>
      <div class="controls">
        <input type="text" name="username" id="username" placeholder="Username">
      </div>
    </div>
    {{#usernameTaken}}<span class="help-inline">Username is taken</span>{{/usernameTaken}}
    <div class="control-group">
      <label class="control-label" for="pwd1">Password</label>
      <div class="controls">
        <input type="password" name="pwd1" id="pwd1" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="pwd2">Retype password</label>
      <div class="controls">
        <input type="password" name="pwd2" id="pwd2" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign in</button>
      </div>
    </div>
    {{#failed}}<span class="help-inline">Unable to create user</span>{{/failed}}
  </form>
</div>